*{padding:0;margin:0;}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
background-image: url('img/hotspoticon.png');
background-size: cover;
width: 22px;
height: 22px;
border-radius: 50%;
cursor: pointer;
z-index: 1;
}
.mapboxgl-popup {
max-width: 200px;
z-index: 2;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}
/* Message */


/* Message */
/* loder */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 5; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
  visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* loder */
* {
  box-sizing: border-box;
}

/* Style the list (remove margins and bullets, etc) */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:absolute;
  bottom:5px;
}

/* Style the list items */
ul li {
  border-radius:10px;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  z-index: 4;
	background-color:#3498DB;
  padding: 10px;
  text-decoration: none;
  color:#FFF;
  font-family:'Times New Roman', Times,Georgia, serif;
  display: block;
  position: relative;
  text-align:center;
  font-size: small;
  
}



/* Style the close button (span) */
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 5px 8px;
  transform: translate(0%, -50%);
  color: red;
  
}
.closep{
  margin-right: 16px;
}

.close:hover {background: rgb(175, 104, 216);}